* {
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

#header {
    margin: 0;
    padding: 0px 50px;
}

#header p {
    font-weight: bolder;
}

table {
    padding-left: 20px;
}

#main p {
    color: red;
    margin: 0;
    padding: 0;
}

.label {
    text-align: right;
    vertical-align: top;
    padding-bottom: 15px;
    padding-right: 10px;
}

.input-long {
    width: 350px;
    font-size: 1em;
    margin-bottom: 10px;
}

.input-short {
    width: 130px;
    font-size: 1em;
    margin-bottom: 10px;
}

#zipCode {
    width:  170px;
    font-size: 1em;
    margin-bottom: 10px;
}

#select {
    font-size: 0.8em;
    padding: 3px 0px;
    margin-bottom: 10px;
}

.gender, .language {
    margin-bottom: 20px;
}

#otherInfo {
    font-size: 0.8;
}

#sendBtn {
    font-size: 1em;
    margin: 20px 0px 20px 280px;
    padding: 3px;
}